version 5.215.0

framework: auto-detect

source https://nuget.org/api/v2
source https://api.nuget.org/v3/index.json

group Core
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

	nuget Fake.Core.Environment ~> 5.15.4
	nuget Fake.IO.FileSystem ~> 5.15.4
	nuget FParsec ~> 1.0.3
	nuget FSharp.Core ~> 4.6.2 redirects:force
	nuget FSharp.Data ~> 3.1.1
	nuget Microsoft.NETCore.Platforms --version 3.0.0-preview7.19362.9
	nuget Elmish.Bridge.Giraffe ~> 3.0.3
	nuget Saturn ~> 0.9.0
	nuget Fable.Elmish ~> 3.0
	nuget FSharp.Json ~> 0.3.7

group Electron
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

	nuget Fable.Electron ~> 1.0
	nuget Fable.Core ~> 3.0
	nuget Fable.Elmish ~> 3.0
	nuget Fable.Elmish.Debugger ~> 3.0
	nuget Fable.Elmish.HMR ~> 4.0
	nuget Fable.Elmish.React ~> 3.0
	nuget Fable.Import.AutosuggestHighlight ~> 1.1
	nuget Fable.Import.Downshift ~> 1.1
	nuget Fable.Import.MatchSorter ~> 1.1
	nuget Fable.Import.Node ~> 0.4.0
	nuget Fable.MaterialUI ~> 4.0
	nuget Fable.MaterialUI.Icons ~> 1.1
	nuget Fable.MaterialUI.MaterialDesignIcons ~> 1.2
	nuget Fable.Promise ~> 2.0
	nuget Fable.React ~> 5.2
	nuget Fable.Validation ~> 0.2.1
	nuget FSharp.Core ~> 4.6.2 redirects:force
	nuget Fable.SimpleJson ~> 3.3.0
	nuget Elmish.Bridge.Client ~> 3.1.1

group Testing
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

	nuget Expecto ~> 8.11.0
	nuget Expecto.BenchmarkDotNet ~> 8.11.0
	nuget Expecto.FsCheck ~> 8.11.0
	nuget Expecto.TestResults ~> 8.10.1
	nuget Foq ~> 1.8.0
	nuget FSharp.Core ~> 4.6.2 redirects:force
	nuget FSharp.Data ~> 3.1.1

group Tooling
	source https://nuget.org/api/v2
	source https://api.nuget.org/v3/index.json

	nuget Fake.IO.FileSystem ~> 5.15.4
	nuget FSharp.Core ~> 4.6.2 redirects:force
	nuget FSharp.Json ~> 0.3.7
	nuget FSharpLint.Core ~> 0.12.2
	nuget Yarnpkg.Yarn ~> 1.15.2

	clitool dotnet-fable ~> 2.0.11
	clitool dotnet-fake ~> 5.15.4
	clitool dotnet-fantomas ~> 2.9.2
	clitool Femto ~> 0.5.2

group Formatting
	source https://nuget.org/api/v2
	source https://ci.appveyor.com/nuget/fsharp-formatting

	nuget FSharp.Formatting ~> 3.1.0
	nuget FSharp.Formatting.CommandTool ~> 3.1.0

group FakeBuild
	source https://api.nuget.org/v3/index.json

	storage: none

	nuget Fake.Core.Target ~> 5.15.4
	nuget Fake.IO.FileSystem ~> 5.15.4
	nuget Fake.DotNet.Cli ~> 5.15.4
	nuget Fake.Tools.Git ~> 5.15.4
	nuget Fake.DotNet.MSBuild ~> 5.15.4
	nuget Fake.Core.ReleaseNotes  ~> 5.15.4
	nuget Fake.DotNet.AssemblyInfoFile ~> 5.15.4
	nuget Fake.DotNet.Paket ~> 5.15.4
	nuget Fake.DotNet.FSFormatting  ~> 5.15.4
	nuget Fake.JavaScript.Yarn ~> 5.15.4
	nuget Fake.JavaScript.Npm ~> 5.15.4
	nuget FSharp.Json ~> 0.3.7
	nuget FSharpLint.Core ~> 0.12.2
	