version 5.203.0

framework: auto-detect

source https://nuget.org/api/v2

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.TestResults 8.10.1
nuget Foq
nuget FParsec
nuget FSharp.Core
nuget FSharp.Data
nuget FSharpLint.Core

clitool dotnet-fantomas
clitool dotnet-fake

nuget ilmerge

group Formatting
source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Formatting
nuget FSharp.Formatting.CommandTool

group FakeBuild
source https://api.nuget.org/v3/index.json

storage: none

nuget Fake.Core.Target
nuget Fake.IO.FileSystem
nuget Fake.DotNet.Cli
nuget Fake.Tools.Git
nuget Fake.DotNet.MSBuild
nuget Fake.Core.ReleaseNotes 
nuget Fake.DotNet.AssemblyInfoFile
nuget Fake.DotNet.Paket
nuget Fake.DotNet.FSFormatting 
nuget Fake.DotNet.ILMerge
nuget FSharpLint.Core