<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProdName" value="ENTCTM02" />
    <add key="ProdCtm" value="CTMSERVER" />
    <add key="StageName" value="ENTCTMMODL02" />
    <add key="StageCtm" value="CTMSERVER" />
    <add key="TestName" value="ENTCTMTEST02" />
    <add key="TestCtm" value="CTMSERVER" />
    <add key="DevName" value="ENTCTMDEV02" />
    <add key="DevCtm" value="CTMSERVER" />
    <add key="SandName" value="ENTCTMSAND02" />
    <add key="SandCtm" value="ENTCTMSAND02" />
  </appSettings>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.6.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>
