<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProdName" value="ENTCTM02" />
    <add key="ProdCtm" value="CTMSERVER" />
    <add key="StageName" value="ENTCTMMODL02" />
    <add key="StageCtm" value="CTMSERVER" />
    <add key="TestName" value="ENTCTMTEST02" />
    <add key="TestCtm" value="CTMSERVER" />
    <add key="DevName" value="ENTCTMDEV02" />
    <add key="DevCtm" value="CTMSERVER" />
    <add key="SandName" value="ENTCTMSAND02" />
    <add key="SandCtm" value="ENTCTMSAND02" />
  </appSettings>
</configuration>
